### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

compose/vault
compose/keycloak-data
compose/postgres-data

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
